<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    lang="en">

    <head th:include="layout :: htmlhead"></head>

    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <main class="container">
            <a th:href="@{/marca/novo}"
                class="btn btn-primary">Nova Marca</a>
            <table class="table" id="tabmarca">
                <thead>
                    <tr>
                        <th>Id Marca</th>
                        <th>Nome Marca</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="umaMarca : ${listamarca}">
                <!-- <tr th:each="umBem : ${listaBem}"> -->
                        <td th:text="${umaMarca.IdMarca}"></td>
                        <td th:text="${umaMarca.nmNmMarca}"></td>
                        <!-- <td><a class="btn btn-secondary" th:href="@{'/bem/alterar/' + ${umBem.id }}">Alterar</a>
                          <td><a class="btn btn-danger" th:href="@{'/bem/remover/' + ${umBem.id }}">Excluir</a>
                        </td> --> <!-- alterado -->
                        <td><a class="btn btn-secondary" th:href="@{'/marca/alterar/' + ${umaMarca.IdMarca}}">Alterar</a></td>
                        <td><a class="btn btn-danger" th:href="@{'/marca/remover/' + ${umaMarca.IdMarca}}">Excluir</a></td>
                    </tr>
                </tbody>
            </table>
        </main>

        <div class="modal" tabindex="-1" id="modalmarca">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir marca?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão da marca?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" id="btnnao" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim">Sim</button>
                </div>
              </div>
            </div>
          </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/script.js}"></script>
    </body>
</html>